@keyframes zoom-and-color {
    0% {
        transform: scale(1);
        background-color: white;
    }
    50% {
        transform: scale(1.08);
        background-color: orange;
    }
    100% {
        transform: scale(1);
        background-color: rgb(255, 240, 129);
    }
}
.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
    grid-column-gap: 5%;
    grid-row-gap: 1%;
    padding: 1%;
}
.products-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-name {
    width: 80%;
    font-family: cursive;
    font-weight: 900;
    font-size: 300%;
    text-align: center;
    color: rgb(0, 8, 4);
    background-color: yellow;
    padding: 1%;
    border: 1px solid black;
    border-radius: 2em;
    box-shadow: 5px 5px rgb(255, 206, 244);
    margin: 2% 1%;
    animation: zoom-and-color 2s infinite linear;
}
.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logout {
    padding: 8%;
    background-color: rgb(171, 43, 226);
    border-radius: 1em;
    font-weight: 650;
    color: white;
    margin-bottom: 2%;
    cursor: pointer;
}
.logout:hover,
.filter-button:hover,
.cart:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}
.search-bar {
    border: 2px solid black;
    padding: 3%;
    width: 50vw;
    border-radius: 1em;
}
.search-item {
    border: 1px solid black;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: white;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.rest-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}
.no-products {
    display: block;
    text-align: center;
    font-style: oblique;
    background-color: rgb(148, 255, 141);
    margin: 5%;
    padding: 5%;
    border-radius: 1em;
}
.cart-logo {
    object-fit: contain;
}
.cart {
    padding: 1%;
    transform: scale(1);
    transition: transform 0.5s;
}
.input-range {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0.5em;
}
.item-show {
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-form {
    background-color: white;
    padding: 3%;
    border: 1px solid grey;
    border-radius: 1em;
    margin: 1%;
}
.filter-submit-button {
    margin: 1%;
    padding: 2.5%;
    background-color: rgb(171, 43, 226);
    color: white;
    font-weight: 600;
    border-radius: 1em;
    border: none;
    cursor: pointer;
}
.filter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5%;
}
.filter-button {
    text-align: center;
    font-weight: 650;
    color: white;
    background-color: rgb(37, 213, 119);
    display: inline;
    padding: 8%;
    cursor: pointer;
    border-radius: 0.8em;
    margin: 5%;
    height: 20px;
    width: 60px;
}
.cart-quantity,
.cart-total {
    text-align: center;
    background-color: rgb(253, 57, 57);
    color: white;
    font-weight: 700;
    border-radius: 5em;
    border: 3px solid rgb(253, 57, 57);
}
a {
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
}
@media (max-width: 900px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr;
        width: 85%;
    }
}
@media (max-width: 700px) {
    .products {
        grid-template-columns: 1fr 1fr;
        width: 80%;
    }
    .rest-header {
        flex-direction: column-reverse;
        align-items: center;
    }
}
@media (max-width: 500px) {
    .products {
        grid-template-columns: 1fr;
        width: 75%;
        margin: 3%;
    }
    .products-grid-container {
        margin-top: 7%;
    }
    .filter {
        margin-right: 10vw;
    }
    .search-bar {
        width: 60vw;
    }
    .rest-header {
        flex-direction: row;
        position: relative;
        top: 9vh;
        right: 50vw;
    }
    .heading-name {
        padding: 5%;
    }
    .item-show {
        position: relative;
        top: 3vh;
    }
}
